.vmp-basic-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.vmp-basic-layout .vmp-basic-hd {
  height: 60px;
  display: flex;
  flex-direction: row;
}
.vmp-basic-layout .vmp-basic-bd {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.vmp-basic-layout .vmp-basic-left {
  width: 60px;
}
.vmp-basic-layout .vmp-basic-center {
  flex: 1;
}
.vmp-basic-layout .vmp-basic-right {
  width: 280px;
  display: flex;
  flex-direction: column;
}
.vmp-basic-layout .vmp-basic-right .vmp-basic-right__hd {
  height: 260px;
}
.vmp-basic-layout .vmp-basic-right .vmp-basic-right__bd {
  flex: 1;
}
