.vmp-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: normal;
  margin: 12px 0;
}
.vmp-icon-text span.text {
  font-size: 12px;
  user-select: none;
}
.vmp-icon-text i {
  user-select: none;
}
.vmp-icon-text:hover {
  cursor: pointer;
}
.vmp-icon-text.selected span.text,
.vmp-icon-text.selected i {
  color: #fc5659;
}
.vmp-icon-text.disable span.text,
.vmp-icon-text.disable i {
  color: #777777;
}
