ul {
  li {
    border-bottom: 1px solid var(--theme-tab-content-rank-li-border-color);
    height: 94px;
    display: flex;
    justify-content: space-between;
    div {
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 94px;
      &:first-child {
        display: flex;
        span {
          line-height: 94px;
        }
        span:first-child {
          color: var(--theme-tab-content-rank-li-label-color);
        }
        span:nth-child(2) {
          display: flex;
          justify-content: center;
          flex-direction: column;
          img {
            width: 100%;
            border-radius: 50%;
            width: 48px;
            height: 48px;
          }
        }
        span:last-child {
          width: 247px;
          color: var(--theme-tab-content-rank-li-label-color);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
  li:last-child {
    border-bottom: none;
  }
  .zero {
    .avatar  {
      width: 58px;
      height: 64.5px;
      background: url('../assets/imgs/rank-top-1.png') no-repeat;
      background-size: 100%;
      position: relative;
      img {
        position: absolute;
        left: 4px;
        top: 17.5%;
      }
    }
  }
  .one {
    .avatar {
      width: 58px;
      height: 64.5px;
      background: url('../assets/imgs/rank-top-2.png') no-repeat;
      background-size: 100%;
      position: relative;
      img {
        position: absolute;
        left: 4px;
        top: 17.5%;
      }
    }
  }
  .two {
    .avatar {
      width: 58px;
      height: 64.5px;
      background: url('../assets/imgs/rank-top-3.png') no-repeat;
      background-size: 100%;
      position: relative;
      img {
        position: absolute;
        left: 4px;
        top: 17.5%;
      }
    }
  }
}
