/***
  SkinName:'newyear'
**/
.newyear .vmp-basic-layout select {
  background: #777;
}
.newyear .vmp-basic-layout .vmp-basic-hd {
  background-image: linear-gradient(to right, #880203, #b30304);
  background-color: #b30304;
  background-repeat: no-repeat;
  border-bottom: 0;
}
.newyear .vmp-basic-layout .vmp-basic-left {
  background: #880203;
  border-top: 0;
}
.newyear .vmp-basic-layout .vmp-icon-text {
  text-decoration: none;
}
.newyear .vmp-basic-layout .vmp-icon-text:hover {
  color: #defc56;
}
.newyear .vmp-basic-layout .vmp-icon-text.selected span.text,
.newyear .vmp-basic-layout .vmp-icon-text.selected i {
  color: #defc56;
}
.newyear .vmp-header-left .vhall-room-id,
.newyear .vmp-header-left .vhall-room-id-copy {
  color: #fff;
}
